* {
    box-sizing: border-box;
}

form {
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    text-align: center;
}


/* Add padding to containers */

.container {
    padding: 16px;
    width: 40%;
    margin: auto;
}

label {
    color: blue;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid blue;
    outline: none;
    border-radius: 10px;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid blue;
    margin-bottom: 25px;
}


/* Set a style for the submit/register button */

.registerbtn {
    background-color: white;
    color: blue;
    padding: 16px 20px;
    margin: 8px 0;
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    background-color: blue;
    opacity: 1;
    color: white;
}


/* Add a blue text color to links */

a {
    color: blue;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}